.login-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/9/97/Sabtang_Batanes.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.8);
}

.login-form label {
  margin-bottom: 10px;
}

.login-form input {
  margin-bottom: 20px;
}

.login-form button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.login-form button:hover {
  background-color: #0056b3;
}

