.details-container {
  background-color: white;
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.image-container .card {
  margin: 10px;
  flex: 1;
}

.image {
  object-fit: cover;
  height: 100%;
  width: 100%;
}
