.intro-container {
  background-color: rgba(242,242,242, 0.7);
  padding: 40px;
  text-align: center;
  margin-bottom: 3rem;
  ;
}

.intro {
  font-family: 'Abril Fatface', cursive;
}

.intro-message {
  font-family: 'Rajdhani', sans-serif;
}